* {
    box-sizing: border-box;
}

body {
    background: lightblue;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dark {
    background: darkblue;
    color: white;
}

.light {
    background: lightgray;
    color: #000;
}