* {
    box-sizing: border-box;
}

body {
    background: lightblue;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dark {
    background: darkblue;
    color: white;
}

.light {
    background: lightgray;
    color: #000;
}

.loading-screen {
    @keyframes spin {
        from {
            transform: rotate(-360deg);
        }

        to {
            transform: rotate(0deg);
        }
    }

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 36px;
    animation: spin infinite 1s linear;
}

.todo {
    border-radius: 10px;
    border: 1px solid #000;
    width: 100%;
    padding: 20px;
    background: #fff;
    color: darkblue;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
    input {
        transform: scale(2);
    }

    button {
        border: 1px solid #000;
        border-radius: 10px;
        padding: 10px;
        font-size: 24px;
        margin: 0 0 0 10px;
    }
}

.create-todo-form {
    border: 1px solid #000;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    
    input, button {
        border: 1px solid #000;
        border-radius: 10px;
        padding: 10px;
        font-size: 24px;
        margin: 0 0 0 10px;
    }
}